@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.aboutWorks {
  background-image: url('../../img/banner-work.jpg');
  @include bg;
  color: $mainColorLight;
  padding: 60px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include title;
  }

  &__button {
    @include btn-transparent;
    font-size: 24px;
    font-weight: 700;
    padding: 0 76px;
    
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 60px;
    font-size: 24px;
    font-weight: 400;
  }

  &__item {

    .item__text {
      margin-top: 35px;
      max-width: 226px;
    }
  }
}