@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.aboutUs {
  padding: 145px 0 100px;

  &__title {
    @include title;
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
  }

  &__line {
    width: 9px;
    background-color: $accentColor;
    margin-right: 20px;
    flex: 1 0 auto;
  }

  &__text {
    font-size: 24px;
    font-weight: 400;

    p {
      margin-bottom: 35px;
    }

    p:last-child {
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}