@import '../../scss/variables.scss';

.aboutUs {
  padding: 145px 0 100px;

  &__title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
  }

  &__line {
    width: 9px;
    background-color: $accentColor;
    margin-right: 20px;
    flex: 1 0 auto;
  }

  &__text {
    font-size: 24px;
    font-weight: 400;

    p {
      margin-bottom: 35px;
    }

    p:last-child {
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}