@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900&subset=cyrillic-ext');
@import './scss/reset.scss';
@import './scss/variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  color: $mainColorDark;
  min-width: 320px;
  background-color: $mainColorLight;
}

.container {
  max-width: 1430px + 30px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  color: red;

  @media screen and (max-width: $desktop) {
    color: green;  
  }

  @media screen and (max-width: $tablet) {
    color: yellow;  
  }

  @media screen and (max-width: $mobile) {
    color: blue; 
  }

  
}